---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog Javv";
---

<main>
    <BaseLayout pageTitle={pageTitle}>
        <h1>Astro</h1>
        <p>Primera aplicación con Astro.</p>
    </BaseLayout>
</main>
