---
import Social from "./Social.astro";

const platform = "github";
const username = "javoastro";
---
<style>
    .redessociales {
        width: min(800px, 100%);
        display: flex;
        gap: 25px;
        justify-content: space-around;
    }
</style>

<footer>
    <p>
        Learn more about my projects on <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
    </p>
    <p>Estoy aprendiendo Astro.</p>
    <section class="redessociales">
        <Social platform="github" username="javoastro" />
        <Social platform="twitter" username="javotwitter" />
        <Social platform="fabebook" username="javofacebook" />
    </section>
</footer>
